/* .movie-banner{
    width:1000px;
    height:30vh
} */
.movie-details-container{
    display: flex;
    flex-direction: row;
    margin: 3% 3% 0% 3%;
    padding: 2%;
    height: auto;
    /* background-color: white; */
    border-radius: 10px;
   
}
.description{
    color: rgba(255, 255, 255, 0.902);
    font-size: 20px;
}

.watch-button{
    color: white;
    background-color: black;
    width: 300px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}
.image-container{
    width: 25vw;
    height: auto;
    padding: 2%;
    justify-content: center;
    /* margin-right: 2%; */
}
.details-container{
    display: flex;
    flex-direction: column;
    /* width: 57vw;
    height: 40vw; */
}

.details-heading{
    font-size: 26px;
    font-weight: 500;
}
.back-btn{
    width: 120px;
    height: 40px;
    background-color: #e5e5e5;
    border-radius: 4px;
    border-color: skyblue;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 10px;
}
.back-btn:hover{
    box-shadow: 4px 4px 10px rgba(222, 217, 217, 0.947);
}
.title{
    color: "white";
    font-size:"36px ";
    font-weight:"bold"
}
@media screen and (max-width: 600px){
    .movie-details-container{
        max-width: fit-content;
    }
    .title{
        font-size: small;
        color: white;
    }
    .description{
    color: rgba(255, 255, 255, 0.902);
    font-size: small;
    }
    .back-btn{
    width: 80px;
    height: 40px;
    font-size:small ;
    background-color: #e5e5e5;
    border-radius: 4px;
    border-color: skyblue;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 10px;
    }
}